:root {
    --primary: #55E6C1;
    --primary-hard: #0fb9b1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-form {
    width: 100%;
    max-width: 550px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid var(--primary-hard);
    overflow: hidden;
    max-height: 90%;
    overflow: overlay;
    /*    padding: 1.5em 2em;*/
}

.cont-form h2 {
    width: 100%;
    background-color: var(--primary-hard);
    padding: .5em 1.5em;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cont-form h2 span {
    font-size: .6em;
}

.cont-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1.5em 2em;
}

.cont-input,
.group-input,
.card {
    display: flex;
    width: 100%;
}

.cont-input {
    flex-direction: column;
    position: relative;
}

.cont-input label {
    position: absolute;
    top: -7px;
    background-color: #fff;
    left: 7px;
    font-size: .8em;
    padding: 0 5px;
}

.group-input,
.card {
    gap: .4em;
}

.cont-input input {
    width: 100%;
}

input {
    padding: 9px 10px;
    outline: none;
    border: 1px solid #d4d4d4;
}

form h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
    font-size: 1em;
}

.card {
    flex-direction: column;
    padding: 1em;
    border: 1px solid #ddd;
    position: relative;
    gap: 10px;
}

.cont-agregar {
    margin-top: 10px;
}

.cont-agregar a {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #a7f3e0d2;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    font-size: .8em;
}

.cont-agregar a i {
    margin-right: 5px;
}

.cont-agregar a:hover {
    background-color: var(--primary);
}

form button {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--primary-hard);
    border: 1px solid var(--primary-hard);
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
}

form button:hover {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

form label {
    color: #8a8989;
    font-size: .9em;
}

.others_contacts {
    display: flex;
    flex-direction: column;
    gap: 1em
}

.cont-form::-webkit-scrollbar {
    appearance: none;
}

.cont-form::-webkit-scrollbar:vertical {
    width: 10px;
}

.cont-form::-webkit-scrollbar:horizontal {
    height: 10px;
}

.cont-form::-webkit-scrollbar-thumb {
    background-color: #d4d4d4;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.cont-form::-webkit-scrollbar-track {
    border-radius: 10px;
}

.btnRemoveContact {
    position: absolute;
    background-color: #c0392b;
    color: #FFF;
    top: 0;
    right: 0;
    padding: 4px 10px;
    font-size: .8em;
    border-radius: 0 0 0 10px;
    -webkit-border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
    -ms-border-radius: 0 0 0 10px;
    -o-border-radius: 0 0 0 10px;
    text-decoration: none;
    cursor: pointer;
}

/*LOGIN
   ================*/

.cont-input-form {
    width: 100%;
    position: relative;
    display: flex;
    gap: 5px;
}

.cont-input-form input,
.cont-input-form select,
.cont-input-form textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid var(--inactive);
    outline: none;
    border-radius: 5px;
    font-size: .9em;
    margin-bottom: 7px;
    transition: all ease .5s;
    min-height: 45px;
}

.cont-input-form input:focus,
.cont-input-form select:focus,
.cont-input-form textarea:focus {
    border-color: var(--primary);
}

.btnform {
    background-color: var(--primary-hard);
    border: 1px solid var(--primary-hard);
    color: #fff;
    width: 100%;
    height: 45px;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    transition: all ease .5s;
}

.btnform:hover {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.wr-login {
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cont-logo-inicial img {
    max-height: 250px;
}

.frm-login {
    width: 100%;
    max-width: 400px !important;
    border: 1px solid var(--primary);
    padding: 2em 1.5em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.frm-login h2 {
    font-size: 2em;
    color: var(--danger);
    margin-bottom: 1.2em;
}

.frm-login input,
.frm-login select {
    border: 1px solid var(--primary-hard);
}

.linea-v {
    height: 8em;
    width: 5px;
    background-color: var(--primary-hard);
}

.body-login {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.cont-logo-inicial {
    display: flex;
    gap: 3em;
}

.frm-login select {
    width: 100%;
}